body {
    font-family:comfortaa;
    background-color: #E8E8E8;
    color: #E37383;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
font-family:"righteous";
font-size:40pt;
text-align:center;

}
h2 {
    margin: .1em;
  }

header {
    text-align: center;
}

#avatar, footer {
    text-align: center;
}

/* Hero section*/

#hero img {
    width: 300px;
}

/* Bio section */

#bio {
    text-align:center;

}

/* Hobbies section */
#bio ul li {
    color:black;
    text-align:center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gallery section */
#gallery {
    border: 2px solid #601a35;
}

#gallery img {
    max-height:400px;
    max-width: 620px;
}

#gallery figure {
    text-align:center;

    display:grid;
    grid-template-columns: 2fr 1fr;
}

/* Literature */
#lit {
    text-align:center;
    border:2px solid #601a35;
    margin-bottom:2rem;
}

#lit div p {
    padding:2rem;
    max-width: 40rem;
    margin: 0:auto;
    clear:both;
}

/* dropcaps */

#lit div p:nth-child(3+1):first-letter {
    color:black;
    background-image:radial-gradient(#fff,#D8BFD8);
    float: left;
    font-size: 3em;
    padding: .25em; 
    margin-right: .25em;
    line-height: .65;
    border:4px outset #601a35;
    font-family:Franklin Gothic;
    text-shadow: 2px 2px 3px #000(0,0,0,.5);
    box-shadow:5px 5px 5px #000(0,0,0.5);
    border-top-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

/* tablet size */
@media screen and (min-width: 60em) {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
}
figure img {
    width: 100%;
}

#lit div {
    max-width:100%;
    columns: 20rem;
}
}

/* large screen size */

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;;
    }
}