body {
    font-family:comfortaa;
    background-color: #8950e1;
    color: #6db0FC;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
font-family:"righteous";
font-size:40pt;
text-align:center;
}

header {
    text-align: center;
}

#avatar, footer {
    text-align: center;
}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;

}
#bio ul li:nth-child(even) {
    color:black
}
