body {
    font-family:comfortaa;
    background-color: #8950e1;
    color: #6db0FC;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
font-family:"righteous";
font-size:40pt;
text-align:center;
}

header {
    text-align: center;
}

#avatar, footer {
    text-align: center;
}

/* Hero section*/

#hero img {
    width: 300px;
}

/* Bio section */

#bio {
    text-align:center;

}

/* Hobbies section */
#bio ul li:nth-child(even) {
    color:black;
    text-align:center;
}

/* Gallery section */
#gallery {
    border: 2px solid #601a35
}

#gallery img {
    max-height: 10px;
    max-width:100%;
}

#gallery figure {
    text-align:center;
}